body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
}

/* SIDEBAR */
.sidebar {
    width: 220px;
    height: 100vh;
    background: #1e293b;
    color: white;
    position: fixed;
    left: 0;
    top: 0;
    padding: 20px;
}

.logo {
    margin-bottom: 30px;
}

.menu {
    list-style: none;
    padding: 0;
}

.menu li {
    margin: 15px 0;
}

.menu a {
    text-decoration: none;
    color: white;
    display: flex;
    gap: 10px;
    padding: 10px;
    border-radius: 8px;
    transition: 0.3s;
}

.menu a:hover {
    background: #334155;
}

/* CONTENIDO */
.content {
    margin-left: 240px;
    padding: 20px;
    width: 100%;
}